# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Git
.git
.gitignore
.gitattributes

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
.nyc_output

# Documentation
*.md
!README.md

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Other
.editorconfig
.prettierrc.json
.prettierignore
.eslintrc.cjs
.stylelintrc.json

